extends layout

include mixins/anchorButton

block content
  +anchorButton('Add new message', '/add-message', 'blue')
  if currentUser && !currentUser.isMember
    +anchorButton('Become a member', '/membership', 'indigo').ml-2
  if currentUser && currentUser.isAdmin
    +anchorButton('Admin controls', '/admin', 'indigo').ml-2

  if !messages.length
    p.mt-16.text-center There are no messages.
  else
    section.message-container.mt-4.flex.flex-col.gap-6
      each message in messages
        article.message-card.bg-white.p-4.shadow-lg
          h2.font-semibold= message.title
          p= message.msg

          if currentUser && currentUser.isMember
            footer.author.mt-2.justify-between.text-sm.text-zinc-500(class='sm:flex')
              span Posted by #{ message.author.fullName }&nbsp;
              time.block= message.timestamp_formatted
