doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title!= title
    link(rel='preconnect', href='https://rsms.me/')
    link(rel='stylesheet', href='https://rsms.me/inter/inter.css')
    link(rel='stylesheet', href='/styles/style.css')

  body
    header.flex.justify-between.bg-white.p-4
      h1.hidden.text-xl.font-bold(class='sm:block')
        a.text-black(class='hover:text-black', href='/') MessageBoard

      .link-container.flex.w-full.justify-between.gap-6(class='sm:justify-end')
        if currentUser
          p Logged in as&nbsp;
            span.font-semibold #{ currentUser.username }
          a(href='/logout') Log out
        else
          a(href='/login') Log in
          a(href='/register') Register

    main
      block content
