extends layout

include mixins/anchorButton
include mixins/formField
include mixins/submitButton

block content
  section.mx-auto.flex.max-w-md.rounded-lg.bg-white.p-4
    form.flex.grow.flex-col.gap-8(method='POST')
      +formField('Username', 'text', 'username', user, errors)(required)
      +formField('Password', 'password', 'password', user, errors)(
        required
      )

      .btn-container.col-span-2.flex.flex-col.gap-2
        +submitButton('Log in', 'submit', 'blue')
        +anchorButton('Log in as guest', '/login-guest', 'indigo')
