mixin submitButton(text, buttonType, color)
  - let colors;
  if (color === 'blue')
    - colors = 'bg-blue-600 hover:bg-blue-700 focus-visible:ring-blue-500/50 active:bg-blue-800';
  else
    - colors = 'bg-red-600 hover:bg-red-700 focus-visible:ring-red-500/50 active:bg-red-800';

  button.rounded-lg.px-8.py-2.font-semibold.text-white(
    class=`${colors} ${attributes.class} focus-visible:outline-none focus-visible:ring`,
    type=buttonType
  )= text
