@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(244, 244, 244);
  min-height: 100dvh;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}

main {
  padding: 16px;
}

input,
select,
textarea {
  @apply mt-1 block w-full rounded-lg border border-zinc-400 bg-zinc-50 px-2 py-1.5 font-normal outline-none;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  @apply border-blue-500 shadow-lg shadow-blue-500/10 ring-1 ring-blue-500;
}

a {
  @apply text-blue-500;
}

a:hover {
  @apply text-blue-700;
}

.message-card {
  align-self: start;
  border-radius: 8px;
  min-width: 66%;
}

.message-card:nth-of-type(2n) {
  align-self: end;
  background-color: rgb(250, 255, 238);
}
